<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>Rita</title>
  </head>
  <body>
    <h1>
        Rita
    </h1>
    <div>
        {% if reply %}
        <p>
            {{reply}}
        </p>
        {% else %}
        <p>
            talk to me ...
        </p>
        {% endif %}
    </div>
    <form action="" method = "post" name = "test">
        {{ form.hidden_tag() }}
        <p>
            {{form.input_data(size = 80)}}
        </p>
    </form>
    </body>
</html>
